include README
include LICENSE
include docs/Makefile
recursive-include docs .rst
recursive-include docs .py
recursive-include oauthost/locale *
recursive-include oauthost/migrations *
recursive-include oauthost/templates *
